.nested-fields.form-inline.clearfix
  - f.object.build_person if f.object.person.nil?
  - f.object.build_character if f.object.character.nil?
  %div.pull-left
    %div.persons.scrollable
      -# = f.input :person_id, as: :hidden
      = f.simple_fields_for :person do |person|
        -# = person.input :id, as: :hidden, input_html: {class: 'id'}
        = person.input :email, placeholder: "Email",  label: false, input_html: {class: 'typeahead email'}
        = person.input :first_name, placeholder: "First name",  label: false, input_html: {class: 'first_name'}
        = person.input :last_name, placeholder: "Last name",  label: false, input_html: {class: 'last_name'}
        = person.input :phonetic_spelling, placeholder: "Phonetic spelling",  label: false, input_html: {class: 'phonetic_spelling'}
    %div
      %span.bg-danger #{f.object.errors.full_messages_for(:person).join("; ")}
  %div.pull-left
    %div.characters.scrollable
      = f.simple_fields_for :character do |character|
        = character.input :name, placeholder: "Character name",  label: false, input_html: {class: 'typeahead name'}
        = character.input :property, placeholder: "Intellectual property",  label: false, input_html: {class: 'typeahead2 property'}
    %div
      %span.bg-danger #{f.object.errors.full_messages_for(:character).join("; ")}
  %div.pull-right
    = link_to_remove_association trashcan_button, f

:javascript
  $(document).ready(function(){
    $(".persons .typeahead").typeahead('destroy');
    $(".persons .typeahead").typeahead(null, {
      name: "email",
      displayKey: "email",
      source: window.aw_snaps.emails.ttAdapter(),
      templates: {
        suggestion: _.template('<p><strong><%=email%></strong> – <%=first_name%> <%=last_name%> - <%=phonetic_spelling%></p>')
      }
    });
    $(".persons .typeahead").on('typeahead:selected', window.aw_snaps.emailItemSelectedHandler);

    $(".characters .typeahead").typeahead('destroy');
    $(".characters .typeahead").typeahead(null, {
      name: "name",
      displayKey: "name",
      source: window.aw_snaps.characters.ttAdapter(),
      templates: {
        suggestion: _.template('<p><strong><%=name%></strong> – <%=property%></p>')
      }
    });
    $(".characters .typeahead").on('typeahead:selected', window.aw_snaps.characterItemSelectedHandler);

    $(".characters .typeahead2").typeahead('destroy');
    $(".characters .typeahead2").typeahead(null, {
      name: "property",
      displayKey: "property",
      source: window.aw_snaps.characters2.ttAdapter(),
      templates: {
        suggestion: _.template('<p><%=name%> – <strong><%=property%></strong></p>')
      }
    });
    $(".characters .typeahead2").on('typeahead:selected', window.aw_snaps.character2ItemSelectedHandler);
  })
