.nested-fields.form-inline.clearfix
  - f.object.build_owner if f.object.owner.nil?
  - f.object.build_character if f.object.character.nil?
  %div.pull-left
    %div.owners
      -# = f.input :owner_id, as: :hidden
      = f.simple_fields_for :owner do |owner|
        = owner.input :id, as: :hidden, input_html: {class: 'id'}
        = owner.input :email, placeholder: "Email",  label: false, input_html: {class: 'typeahead email'}
        = owner.input :first_name, placeholder: "First name",  label: false, input_html: {class: 'first_name'}
        = owner.input :last_name, placeholder: "Last name",  label: false, input_html: {class: 'last_name'}
        = owner.input :phonetic_spelling, placeholder: "Phonetic spelling",  label: false, input_html: {class: 'phonetic_spelling'}
    %div
      %span.bg-danger #{f.object.errors.full_messages_for(:owner).join("; ")}
  %div.pull-left
    %div
      = f.simple_fields_for :character do |character|
        = character.input :name, placeholder: "Character name",  label: false
        = character.input :property, placeholder: "Intellectual property",  label: false
    %div
      %span.bg-danger #{f.object.errors.full_messages_for(:character).join("; ")}
  %div.pull-right
    = link_to_remove_association trashcan_button, f

:javascript
  $(document).ready(function(){
    $(".owners .typeahead").typeahead('destroy');
    $(".owners .typeahead").typeahead(null, {
      name: "email",
      displayKey: "email",
      source: window.aw_snaps.emails.ttAdapter()
    });
    $(".owners .typeahead").on('typeahead:selected', window.aw_snaps.emailItemSelectedHandler);
  })
