
.row
  .col-md-8.col-md-offset-2
    %table#dude.display
      %thead
        %tr
          %th Entry Number
          %th Bulky
          %th Name
          %th.no-print Email
          %th Character
          %th Property
          %th.no-print Skill Level
          %th Judging Time
          %th.no-print
      %tbody
        - @entries.each do |entry|
          %tr{:class => "#{(entry.id.odd? ? "odd-entry" : "")}"}
            %td= link_to entry.entry_num, entry_path(entry)
            %td
              .row= "#{entry.hot_or_bulky ? "YES" : "NO"}"
            %td
              - entry.cosplays.each do |cosplay|
                .row= cosplay.person_full_name.titleize
            %td.no-print
              - entry.cosplays.each do |cosplay|
                .row= cosplay.person_email.titleize
            %td
              - entry.cosplays.each do |cosplay|
                .row= cosplay.character_name.titleize
            %td
              - entry.cosplays.each do |cosplay|
                .row= cosplay.character_property.titleize
            %td.no-print= entry.skill_level.titleize
            %td= entry.judging_time.time if entry.judging_time
            %td.no-print= link_to edit_button, edit_entry_path(entry)
