%div{class: 'margin-center sub-full-width'}
  %table#dude.display
    %thead
      %tr
        %th
          %span.no-print Entry Number
          %span.print-only Entry
        %th Name
        %th.no-print Email
        %th Character
        %th Property
        %th.no-print Skill Level
        %th.no-print Judging Time
        %th.no-print
    %tbody
      - @entries.each do |entry|
        %tr{:class => "#{(entry.id.odd? ? "odd-entry" : "")} avoid"}
          %div.avoid
            %td
              %div.avoid= link_to entry.entry_num, entry_path(entry)
              -# %div.avoid.print-only
              -#   - entry.cosplays.each do |cosplay|
              -#     %div=entry.entry_num
            %td
              %div.avoid
                - entry.cosplays.each do |cosplay|
                  .row= cosplay.person_full_name.titleize
            %td.no-print
              - entry.cosplays.each do |cosplay|
                .row= cosplay.person_email
            %td
              %div.avoid
                - entry.cosplays.each do |cosplay|
                  .row= cosplay.character_name.titleize
            %td
              %div.avoid
                - entry.cosplays.each do |cosplay|
                  .row= cosplay.character_property.titleize
            %td.no-print= entry.skill_level.titleize
            %td.no-print= entry.judging_time.time if entry.judging_time
            %td.no-print= link_to edit_button, edit_entry_path(entry)
