<div class="row">

  <div class="col-md-8 col-md-offset-2">

    <table id="dude" class="display">
      <thead>
        <tr>
          <th>Entry Number</th>
          <th>Name</th>
          <th>Phonetic Spelling</th>
          <th>Email Address</th>
          <th>Skill Level</th>
          <th>Character</th>
          <th>Property</th>
          <th>Judging Time</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @entries.each do |entry| %>
          <% entry.cosplays.each do |cosplay| %>
            <tr class=<%= entry.id.odd? ? "odd-entry" : "" %>>
              <td><%= link_to entry.entry_num, entry_path(entry) %></td>
              <td><%= cosplay.owner_full_name.titleize %></td>
              <td><%= cosplay.owner_phonetic_spelling %></td>
              <td><%= cosplay.owner_email %></td>
              <td><%= entry.skill_level.titleize %></td>
              <td><%= cosplay.character_name.titleize %></td>
              <td><%= cosplay.character_property.titleize %></td>
              <td><%= entry.judging_time.time if entry.judging_time %></td>
              <td><%= link_to edit_button, edit_entry_path(entry) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>
          <%= flash['success'] %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ruby stuffs -->
<% unless flash['success'].nil? %>
  <script>
    $('#myModal').modal('show')
  </script>
<% end %>
