<table id="dude" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Character</th>
                <th>Property</th>
            </tr>
        </thead>

        <tbody>

          <% @entries.each do |entry| %>
            <% entry.cosplays.each do |cosplay| %>
              <tr>
                  <td><%= cosplay.owner.first_name %></td>
                  <td><%= cosplay.character.name %></td>
                  <td><%= cosplay.character.property %></td>
              </tr>
            <% end %>
          <% end %>

        </tbody>
    </table>

<%= link_to :new_entry, new_entry_path %>
<%= link_to :new_contest, new_contest_path %>
